* {
    box-sizing: border-box;
    /* border: 1px solid #fff; */
    background-color: #333940;
    color:#fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #e867ed;
    font-size: 2.5em;
    margin: 5px;
    font-weight: bold;     
}

main p {
    padding: 20px;
    font-size: 1em;
    max-width: 75%;
    margin-bottom: 15px;
    font-weight: lighter; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    display: block;
    border: 2px dashed #fff;
    flex: 0 0 25%;
    padding: 10px;
    margin: 10px;
}

.cardheader {
    position: relative;
    margin-top: -20px;
    text-align: start;
}

.card, .cardheader {
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}

.card:hover, .card:hover .cardheader, .card:hover .card {
	box-shadow: 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

.cardheader h2 {
    color: #e867ed;
    font-size: 1.75em;
    font-weight: bolder;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;     
}


.card p {
    color: #e867ed;
    padding: 10px;
    margin: 5px;
    text-align: left;
    font-weight: lighter;
    font-size: 1em;
}

.codebox {
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    min-width: 200px;
    min-height: 200px;
    border-radius: 5px;
    color: #fff;
    font-family: monospace;
    font-weight: lighter;
    font-size: 1em;
    padding: 10px;
    margin: 0;
    text-align: left;
    user-select: all;
    display: flex;
}

footer {
    text-align: center;
}

footer h3 {
    color: #e867ed;
    font-weight: bold;
    font-size: 1.25em;
    font-family: sans-serif;
    margin: 20px;
}

.codebox pre {
    /* display: inline-block; */
    /* display: inline; */
    /* width: min-content; */
    /* white-space: pre-wrap; */
    background: none;
    /* overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word; */
}

.codebox:hover pre {
    background-color: #008B8B;
}

/* media query to change the width of the cards so they split into two columns at 992px or smaller*/

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  /* media query to change the width of the cards so they are stacked on top of each other at 768px or smaller */
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }



